.up_down_img {
    position: absolute;
    filter: drop-shadow(8px 8px 8px #FaE);
    animation: formAnimation 5s linear infinite;
}
@keyframes formAnimation {

    0%,
    100% {
        top: 0;
    }

    50% {
        top: -30px;
    }
}

@media(max-width : 991px) {
    .displaysm {
        display: none;
    }
}