
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
  box-sizing: border-box !important;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  position: relative;
}

:root {
  --mainbackground: linear-gradient(90deg, rgb(247 81 134) 29%, rgb(255 0 152) 85%);
  --secondbackground: #4D2C5E;
  --thirdbackground: #FF7426;
}

.bgMain {
  background-color:  #4d2c5e !important;
}

.secondbackground {
  background-color: var(--secondbackground);
}

.thirdColor {
  color: var(--thirdbackground);
}

.bgThirdColor {
  background-color: var(--thirdbackground) !important;
}

.cursorPointer {
  cursor: pointer;
}

img {
  height: auto;
}

input {
  font-family: 'Helvetica', FontAwesome, sans-serif;
}
